<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Connection_Ip" value="192.168.88.171" />
		<add key="My_Video_Port" value ="48654"/>
	    <add key="Conn_Video_Port" value="48654" />
		<add key="My_Audio_Port" value ="5555"/>
	    <add key="Conn_Audio_Port" value="5555" />
		<add key="My_IP" value="" />
		<add key="My_Name" value="" />
		<add key="My_Settings" value="0010" />
	</appSettings>
</configuration>